div#center
    div#chart
    div#chartData
script
    $(function() { Avery.watch($('#chart'), $('#chartData'), !{JSON.stringify(range)}, !{JSON.stringify(offset)}, !{JSON.stringify(metrics)} ); setInterval(function() { Avery.watch($('#chart'), $('#chartData'), !{JSON.stringify(range)}, !{JSON.stringify(offset)}, !{JSON.stringify(metrics)} ) }, 15000) })
